<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="games.css">
  </head>
  <body>
    <ul>
      <script>
        function chunk(arr, l) {
          let r = []
          for (let i = 0; i < arr.length; i+=l) {
            r.push(arr.slice(i, i + l));
          }
          return r;
        }
        var games = [];
      </script>
      <% if (games) { %>
      <% games.forEach(function(game) { %>
        <script>
          boards =
          obj = {
            players: "<%= game.players %>".split(','),
            turn: <%= game.turn %>,
            boards: chunk(chunk([<%= game.boards %>], 10), 10),
            id: "<%= game.id %>",
            initiative: <%= game.initiative %>
          }
          games.push(obj);
        </script>
      <li>
        <div id="<%= game.id %>">
          <span style="color:red"><%= game.players[0].slice(8) %></span> vs
          <span style="color:blue"><%= game.players[1].slice(8) %></span><br>
          turn: <%= game.turn %><br>
          the player <span style="color:yellow"><%= game.players[game.initiative ? 0 : 1].slice(8) %></span> has initiative<br>
          id: <span style="font-size:25px;font-style:italic"><%= game.id %></span><br>
          time live: <span class="time" style="display:none"><%= game.start %></span>
        </div>
      </li>
      <% });}; %>

    </ul>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="update.js"></script>
  <script src="../game/sketch.js" type="text/javascript">

  </script>
  <script src="controlTime.js"></script>
</html>
